h1{
    margin-left: 40px;

}
h2{
    margin-left: 50px;
}
h3{
    margin-left: 10px;

}
h4{
    margin-left: 10px;
}
h5{
    margin-left: 10px;

}
h6{
    margin-left: 10px;
}
.bigBlue{
    color: green;
}